/* ---------- Major Sections ---------- */

html {
    height: 100%;
}

body {
    padding: 0em;
    margin: 0em;
    font: normal normal 1em Ubuntu, Helveltica, Arial, sans-serif;
}

header {
    padding: 0em;
    margin: 0em;
}

section {
    padding: 0em;
    margin: 0em;
}

footer {
    height: 2em;
    position: fixed;
    bottom: 0em;
    padding: 0em;
    margin: 0em;
}

/* ---------- default ---------- */

h1 {
    
}

h2 {
    font-size: 1.5em;
}

nav {
    padding: 0em;
    margin: 0em;
}

ul {
    padding: 0em;
    margin: 0em;
}

li {
    padding: 0em;
    margin: 0em;
}

/* ---------- specific ---------- */

header h1 {
    padding: 0em 1em 0em 1em;
    margin: 0em;
    font: normal normal 2em Ubuntu, Helveltica, Arial, sans-serif;
}

header nav {
    border-bottom: 1px solid blue;
}

header nav ul {
    padding: 0em;
    margin: 0em;
    width: 100%;
    list-style-type: none;
    list-style-position: inside;
}

header nav ul li {
    padding: 0em;
    margin: 0em;
    width: 33.33333%;
    text-align: center;
    display: inline-block;
}

header nav ul li a {
    display: block;
    width: 100%;
    text-decoration: none;
    color: black;
}

header nav ul li a:hover {
    background-color: red;
}

header nav ul li a#selected:hover {
    background-color: black;
}